<div class="container">
    <h1>{{ n['nm'] }}</h1>
    <div class="pokeimgdiv">
        <img src="{{ n['img'] }}" alt="pikachu">
    </div>
    <div class="info">
        <div>
            <p>Points de vie</p>
            <p>{{ n['pv'] }}</p>
        </div>
        <div>
            <p>Points d'attaque</p>
            <p>{{ n['at'] }}</p>
        </div>
        <div>
            <p>Points de défense</p>
            <p>{{ n['de'] }}</p>
        </div>
        <div>
            <p>Points de vitesse</p>
            <p>{{ n['vi'] }}</p>
        </div>
        <div>
            <p>Points d'expérience</p>
            <p>{{ n['ex'] }}</p>
        </div>
    </div>
</div>